* {
  font-family: "Roboto";
}

#map_canvas {
  height: 100%;
  margin-top: 63px;
}
a {
  cursor: pointer;
}
#teste {
  margin-top: 100px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  font-size: 1.1rem;
}

/*scrollbar style*/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2B3035; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
